{% extends 'crescendo/base.html' %}
{% load static %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <form method="post" action=".">
                {% csrf_token %}
                <h2 class="text-center">Register Here!</h2>
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username}}
                </div>
                <div class="form-group">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                </div>
                <div class="form-group">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                </div>
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>

                <button type="reset" class="btn btn-default pull-left">Reset</button>
                <button type="submit" class="btn btn-primary pull-right">Submit</button>

</form>
            </div>
        </div>
    </div>

{% endblock %}