{% extends 'crescendo/base.html' %}
{% load static %}

{% block title_block %}
	Search Result
{% endblock %}

{% block body_block %}
   {% if query %}
       <p>You keywords is {{ query }}</p>
        {% for result in page.object_list %}
            {{ result.object.name }}
            {{ result.object.author }}
        {% empty %}
            <div class="no-post">Not Found!!</div>
        {% endfor %}
        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}
                    <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous
                {% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next
                &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        Please enter the keywords!
    {% endif %}




{% endblock %}