{% extends 'crescendo/base.html' %}
{% load static %}

{% block title_block %}
	Search Result
{% endblock %}

{% block body_block %}
<h1>Search&nbsp;<b>{{query}}</b>&nbsp;Result：</h1>
<ul>
{%for item in page%}
    <li>{{item.object.name}}--{{item.object.author}}</li>
{%empty%}
    <li>Nothing found</li>
{%endfor%}
</ul>
<hr>
{%for pindex in page.paginator.page_range%}
    {%if pindex == page.number%}
        {{pindex}}&nbsp;&nbsp;
    {%else%}
        <a href="?q={{query}}&amp;page={{pindex}}">{{pindex}}</a>&nbsp;&nbsp;
    {%endif%}
{%endfor%}


{% endblock %}