.navbar {
    padding: 1.5rem;
}

body {
    padding-right: 5%;
    padding-left: 5%;
} 


.top-nav {
    left: 50%;
    position: absolute;
    transform: translatex(-50%);
}

.top-nav a {
    font-size: 500%;
    color: #5336eb;
}

.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-item:hover {
    background: #5336eb;
    color: #E9DAC1;
} 
 
 
 
@media only screen and (max-width:1000px) { 
    body { 
        padding: 0;
    }
}