.navbar {
    padding: 1.5rem; 
    background: orange;
}

body {
    margin-right: 5%;
    margin-left: 5%; 
} 


.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-item:hover {
    background: #5336eb;
    color: #E9DAC1;
} 
 
 
 
@media only screen and (max-width:1000px) { 
    body { 
        padding: 0;
    }
}