.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5%;
} 
  
.index-items { 
    margin-top: 5%; 
    margin-bottom: 5%; 
    text-align: left;
} 
 
.jumbotron { 
    /* background-image: url("background.jpg"); 
    background-size: contain; 
    background-repeat:initial; */
}
.index {
    text-align: center;
}

.block {
    padding: 25px;
    font-size: 30px;
    text-align: center;
}


.image {
    padding-bottom: 25px;
    height: 250px;
    width: 250px;
} 
 
.playlist-image { 
    width: 300px;
}