/* Playlist Summary Styling */
/* .playlistSummary {
  float: left;
  padding-top: 5px;
  padding-left: 50px;
}

.playlistSummary p {
  padding-top: 30px;
}

/* Song List Styling */
/* .playlistSongs {
  padding: 5px;
  padding-left: 25%;

}

.playlistSongs img{
  float: left;
  height: 150px;
  width: 150px;
  margin-right: 15px;

}

.songBlock {
  display: grid;
} */  
 
.wide { 
  width : 100%;
}
.comment-area {
     padding-left: 20px;
     border-bottom: 1px dashed #ccc;
     margin-bottom: 0.5em;
  }
.reply {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 0.5em;
    margin-left: 1em;
}
