/* Playlist Summary Styling */
/* .playlistSummary {
  float: left;
  padding-top: 5px;
  padding-left: 50px;
}

.playlistSummary p {
  padding-top: 30px;
}

/* Song List Styling */
/* .playlistSongs {
  padding: 5px;
  padding-left: 25%;

}

.playlistSongs img{
  float: left;
  height: 150px;
  width: 150px;
  margin-right: 15px;

}

.songBlock {
  display: grid;
} */  
 
.wide { 
  width : 100%; 
  margin: 1%;
}

.comment-area {
     padding-left: 20px;
     border-bottom: 1px dashed #ccc;
     margin-bottom: 0.5em;
  }
.reply {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 0.5em;
    margin-left: 1em;
}

 
.top-row { 
  padding: 1%;
} 
 
textarea { 
  width: 100%;
} 
 
.playlistSongs {  
  display: flex; 
  flex-direction: column;  
  max-height: 500px;

}
  
.songBlock a { 
  float: left; 
  display: flex; 
  flex-direction: row; 
  justify-content: center;
} 

.songBlock img{
  height: 150px;
  width: 150px; 
  padding-right: 5%; 
  padding-bottom: 5%;

} 
 
.playlist-image { 
  max-width:500px;
}  
 
.comment { 
  margin-left: 2%; 
  margin-top: 0.5%;
}
 
@media screen and (max-width: 1000px) { 
  .playlist-image { 
    width: 250px;
  }
}
