body {
    margin: 3em;
}

* {
    padding: 0;
    margin: 0;
}

.menu-wrapper {
    position: relative;
    max-width: 90%;
    height: 100px;
    width : 90%;
    margin: 1em auto;
    border: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

.menu   {
    height: 120px;
    background: #f3f3f300;
    box-sizing: border-box;
    
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    }
    
    .item {
        display: inline-block;
        width: 100px;
        height: 100%;
        outline: 1px dotted gray;
        padding: 1em;
        box-sizing: border-box;
    }


.paddles {
}
.paddle {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3em;
}
.left-paddle {
    left: 0;
}
.right-paddle {
    right: 0;
}
.hidden {
    display: none;
}

.print {
    margin: auto;
    max-width: 500px;
  }
    
    span {
        display: inline-block;
        width: 100px;
    }
