/* CSS FOR SONG PAGE */

.leftBar {
  float: left;
  padding: 20px;
  display: grid;
}

.rightBar{
  float: right;
  padding: 20px;
  display: inline-grid;
}

.comments {
  clear: both;
}

.songPlayer {
  padding: 20px;
  position: relative;
}

.songPlayer img {
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  position: absolute;
}

#topimage {
  position: absolute;
  z-index: 2;
  opacity: 0.3;
}
