 .grid {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
     grid-template-areas: "user-info songs songs" "user-image songs songs" "user-image playlists playlists" "buttons playlists playlists" "footer footer footer";
     grid-gap: 1%;
     height: 100vh;
     width: 100%;
     margin: auto;
 }
 
 .user-image {
     grid-area: user-image;
     display: flex;
     justify-content: center;
 }
 
 .user-info {
     grid-area: user-info;
 }
 
 .songs {
     grid-area: songs;
     padding: 2%
 }
 
 .playlists {
     grid-area: playlists;
     padding: 2%; 
     width:100%;
 }
  
 .paddle { 
     width: 100%;
 }
 /* .comments {
     grid-area: comments;
 } */
   
 .grid-item { 
     padding: 1% 1% 1% 1%;
 }
 .buttons { 
     grid-area:buttons;
 }
 .song-image {
     width: 150%;
     height: auto;
     margin: auto; 
 }
 
 .menu {
     height: inherit;
 } 
  
 .footer { 
     grid-area : footer;
 }
 
 @media screen and (max-width: 1000px) {
     .grid {
         grid-template-columns: 1fr;
         grid-template-rows: 1fr 2fr 1fr 1fr 1fr 1fr;
         grid-template-areas: "user-info" "user-image" "songs" "playlists" "buttons"  "footer";
     } 
     .footer { 
         display: inline-block;
     } 
     .user-image img { 
        max-width: 500px;
     }
 }
 
 .on-top {
     z-index: 99;
 } 
  
 .wide { 
     width:100%;
 }