{% extends 'crescendo/base.html' %}

{% block title %}
    About
{% endblock %}

{% block body_block %}
    The objective of our application is to allow users to login, create, view,  and rate playlists made up of songs to share their music taste with others. ​

All users will be able to view playlists/songs and see their ratings/comments.​

Users can create an account, logged in users are able to:​
<ul>
    <li>Upload Songs to the site​</li>

    <li>Create Playlists made up of songs​</li>

    <li>Leave a rating and comment on a playlist/song.</li>​

    <li>Edit or Delete their Playlists​</li>
</ul>

Artists who upload their music can see how popular their music is and get feedback from users.​Songs and playlists have a genre attributed to them and users can search for certain genres to find music that they like​Ratings include a short comment and numerical rating so artists and playlist creators can receive feedback.​
{% endblock %}
