{% extends "crescendo/base.html" %}
{% block title %}Add Playlist{% endblock %}

{% block body_block %}
{%if user.is_authenticated%}
<div class="jumbotron p-4 text-center">
    <div class="container">
    <h1 class="jumbotron-heading">Add a playlist {{playlist.name}}</h1>
    </div>
</div>
<div class="container text-center">
    <div class="row">
        <form role="form" id="playlist_form" method="post"
            action="{% url 'crescendo:add_playlist' %}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
            {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br />
            {{ field }}<br />
            <div class="p-2"></div>
        {% endfor %} 
        <input type="hidden" name="next" value="{{ request.path }}">
        <br />
        <button class="btn btn-primary" type="submit" name="submit">
            Add Playlist
        </button>
        <div class="p-5"></div>
        </form>
    </div>
</div>
{% else %} 
<div class = "text-center mb-3 mt-3"> 
    <p> Can't add a playlist without an account </p> 
    <a class="btn btn-primary btn-md" href="{% url 'registration_register' %}" role="button">Start Playlisting</a>  
    </div>
{% endif %}
{% endblock %}
