{% extends 'crescendo/base.html' %}
{% load static %}
{% load comment_tags %}

{% block title %}
    {% if playlist %}
        Editing - {{ playlist.name }}
    {% else %} Playlist Does Not Exist
    {% endif %}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/styles/playlist.css' %}" />
<script type="text/javascript">
  function deleteSong(playlistID, songID) {
    console.log(songID);
    if (confirm("Are you sure you want to remove this song?") == true) {
      $.post("{% url 'crescendo:delete_song' %}", {csrfmiddlewaretoken : "{{ csrf_token }}", playlistID : playlistID,songID : songID});
      location.reload();
    } else {
      console.log("Cancelled Delete.");
  }
}</script>
{% endblock %}

 {% block body_block %}
 {% if playlist %}
<div class = "container">
<div class = "row top-row">
    <div class = "col-md">
    <div class="playlistSummary">
        <h1>Edit Playlist</h1><br>
        <form id="edit_details" action="{% url 'crescendo:edit_playlist' playlist.nameAsSlug playlist.id %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text}}
            {{ field }}
            <br>
          {% endfor %}
          <input type="submit" name="submit" value="Save Changes" />
        </form>
    </div>
    </div>
    <div class = "col-md">
        <h1>Song List</h1>
<div class="playlistSongs overflow-auto">
    {% if songs %}
     {% for song in songs %}
        <div class="songBlock" onclick="deleteSong('{{ playlist.id }}', '{{ song.id }}')" style="cursor:pointer;">
          <a>
          <img src="{{ song.image.url }}">
          <p>
            <strong class = "inline" >Remove {{ song.name }}?<br></strong><br>
          </p>
      </a>
    </div>
    <br>
    {% endfor %} {% else %} {{ playlist.name }} has no songs yet. {% endif %}
</div>
</div>
</div>
{% endif %}
{% endblock %}
