{% extends 'crescendo/base.html' %}

{% load staticfiles %}
{% block title %}
    Crescendo
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/styles/sidescroller.css' %}" />
    <script src="{% static '/JS/sidescroller.js' %}"></script>
{% endblock %}
    


    {% block body_block %}
        <h1>Welcome to Crescendo</h1>
        <div>
            hey there! <br/>
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <h2 id="playlist title">Popular Playlists</h2>
        <div class="menu-wrapper">
            <ul class="menu">

                {% for playlist in playlists %}
                    <li class="item">
                        <a href="{{ playlist.nameAsSlug }} link">
                            <img class="playlistImages" src="{{ playlist.image.url }}">
                        </a> <br />
                        <p class="playlistName">{{ playlist.name }}</p>
                    </li>
                {% endfor %}
            </ul>
          
            <div class="paddles">
              <button class="left-paddle paddle hidden"/>
                
                  <button class="right-paddle paddle">

                  </button>
            </div>
          
          </div>
          
          

    {% endblock %}
