{% extends 'crescendo/base.html' %}

{% load staticfiles %}
{% block title %}
    Crescendo
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/styles/catalogue.css' %}" />
{% endblock %}
    {% block body_block %}
    <h1><strong>Playlists</strong></h1><br>
    <div class="grid">
      {% if playlists %}
        {% for playlist in playlists %}
        <div class="block">
            <a href="{% url 'crescendo:show_playlist' playlist.nameAsSlug playlist.id %}">
              <img src="{{ playlist.image.url }}"><br>
              <strong>{{ playlist.name }}</strong>
            </a>
        </div>
        {% endfor %}

      {% else %}
        <li><strong>No playlists found.</strong></li>
      {% endif %}
    {% endblock %}
