{% extends 'crescendo/base.html' %} {% load static %} {% block title %} {% if playlist %} {{ playlist.name }} {% else %} Playlist Does Not Exist {% endif %} {% endblock %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/styles/playlist.css' %}" /> {% endblock %} 
 {% block body_block %}   
 {% if playlist %}  
<div class = "container"> 
<div class = "row"> 
    <div class = "col-md">
    <div class="playlistSummary">
        <h1>{{ playlist.name }}</h1><br>
        <img src="{{ playlist.image.url }}"><br>
        <p>{{ playlist.description }}</p><br> Views: {{ playlist.views }}
    </div> 
    </div> 
    <div class = "col-md">
<div class="playlistSongs">
    <h1>Song List</h1>
    {% if songs %} {% for song in songs %}
    <div class="songBlock">
        <a href="{% url 'crescendo:show_song' song.nameAsSlug song.id %}">
            <img src="{{ song.image.url }}">
            <p>
                <strong>{{ song.name }}</strong><br> {{ song.description }}
            </p>
        </a>
    </div>
    <br> {% endfor %} {% else %} {{ playlist.name }} has no songs yet. {% endif %}
</div> 
</div> 
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="comment-area">
            <h4 class="comment-area-title">Comment Here</h4>
            {% if user.is_authenticated %}
            <form id="comment_form" action="{% url 'crescendo:add_comment' %}" method="POST" style="overflow:hidden">
                <label>{{ user.username }}, comment here!</label>
                <div id="reply_content_container" style="display:none">
                    <p>Reply: </p>
                    <div id="reply_content"></div>
                </div>
                {% csrf_token %} {% for field in comment_form %} {{ field }} {% endfor %}
                <span id="comment_error" class="text-danger text left"></span>
                <input type="submit" value="comment" class="btn btn-primary col-xs-6 col-sm-4 pull-right">
            </form>
            {% else %} You are not logged in, please log in!<br/>
            <a href="{% url 'auth_login' %}">Login here</a> {% endif %}
        </div>

        <div class="comment-area">
            <h4 class="comment-area-title">Comment({{ comment_count }})</h4>
            <div id="comment_list">
                {% for comment in comments %}
                <div id='root_{{ comment.id }}' class="comment">
                    <span>{{ comment.user.username }}</span>
                    <span>({{ comment.comment_time|date:"Y-m-d H:i:s" }})：</span>
                    <div id='comment_{{ comment.id}}'>
                        {{ comment.text|safe }}
                    </div>
                    <a href="javascript:reply({{ comment.id }});">Reply</a>
                </div>
                {% for reply in comment.root_comment.all %}
                <div class="reply">
                    <span>{{ reply.user.username }}</span>
                    <span>({{  reply.comment_time|date:"Y-m-d H:i:s" }})</span>
                    <span>reply</span>
                    <span>{{ reply.reply_to.username }}: </span>
                    <div id='comment_{{ reply.id}}'>
                        {{ reply.text|safe }}
                    </div>
                    <a href="javascript:reply({{ reply.id }});">Reply</a> {% endfor %}
                </div>
                {% empty %}
                <span id="no_comment">There are no comments now!</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% else %} Playlist Does Not Exist {% endif %} {% endblock %} {% block script_extends %}
<script type="text/javascript">
    var myUrl = "{% url 'crescendo:add_comment' %}"
</script>
<script src="{% static " /JS/comment.js " %}"></script>
{% endblock %}