{% extends 'crescendo/base.html' %}

{% load static %}
{% block title %}
    {% if playlist %}
      {{ playlist.name }}
    {% else %}
        Playlist Does Not Exist
    {% endif %}
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/styles/playlist.css' %}" />
{% endblock %}

    {% block body_block %}
    {% if playlist %}
      <div class="playlistSummary">
        <h1>{{ playlist.name }}</h1><br>
        <img src="{{ playlist.image.url }}"><br>
        <p>{{ playlist.description }}</p><br>
        Views: {{ playlist.views }}
      </div>
      <div class="playlistSongs">
        <h1>Song List</h1>
        {% if songs %}
          {% for song in songs %}
            <div class="songBlock">
              <a href="{% url 'crescendo:show_song' song.nameAsSlug song.id %}">
                <img src="{{ song.image.url }}">
                <p>
                  <strong>{{ song.name }}</strong><br>
                  {{ song.description }}
                </p>
              </a>
            </div>
            <br>
          {% endfor %}
        {% else %}
          {{ playlist.name }} has no songs yet.
        {% endif %}
      </div>
    {% else %}
        Playlist Does Not Exist
    {% endif %}
    {% endblock %}
