{% extends 'crescendo/base.html' %}

{% load static %}
{% block title %}
    {% if song %}
      Crescendo - {{ song.name }}
    {% else %}
        Song Does Not Exist
    {% endif %}
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static '/styles/song.css' %}" />
  <script src="{% static '/JS/player.js' %}"></script>
     <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
     <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

    {% block body_block %}
      {% if song %}
          <div class="leftBar">
            <h1>{{ song.name }} - {{ song.artist }}</h1>
            <div class="songPlayer">
              <img src="{% static '/playicon.png' %}" id="topimage"  onclick="playAudio()">
              <img id="audioimage" src="{{ song.image.url }}" alt="{{ song.name }} album art."> <br>
              <audio id="audiofile" src="{{ song.actualSong.url }}"></audio>
            </div>
          </div>

        <div class="rightBar">
          <h2>Lyrics</h2>
          <p>
            {{ song.lyrics }}
          </p>
        </div>
             <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="comment-area">
                    <h4 class="comment-area-title">Comment Here</h4>
                    {% if user.is_authenticated %}
                        <form id="comment_form" action="{% url 'crescendo:add_comment' %}" method="POST" style="overflow:hidden">
                            <label>{{ user.username }}, comment here!</label>
                            {% csrf_token %}
                            {% for field in comment_form %}
                                {{ field }}
                            {% endfor %}
                            <span class = "text-left" id="comment_error" class="text-danger pull-left"></span>
                            <input type="submit" value="comment" class="btn btn-primary col-xs-6 col-sm-4 pull-right">
                        </form>
                    {% else %}
                       You are not logged in, please log in!<br/>
                        <a href="{% url 'auth_login' %}">Login here</a>
                    {% endif %}
                </div>
                <div class="comment-area">
                    <h3 class="comment-area-title">Comment</h3>
                    <div id="comment_list">
                        {% for comment in comments %}
                            <div>
                                {{ comment.user.username }}
                                ({{ comment.comment_time|date:"Y-m-d H:i:s" }})：
                                {{ comment.text|safe }}
                            </div>
                        {% empty %}
                           There are no comment now!
                        {% endfor %}
                    </div>
                </div>
        </div>
             </div>
      {% else %}
        This song does not exist.
      {% endif %}
      <!-- Listen don't worry about how unbelievable scuffed this implementation is, it works. --!>
      <textarea id="var1" style="visibility:hidden; height:0; width:0;" >{% static '/pauseicon.png' %}</textarea>
      <textarea id="var2" style="visibility:hidden; height:0; width:0;" >{% static '/playicon.png' %}</textarea>
    {% endblock %}
{% block script_extends %}
    <script type="text/javascript">
        $("#comment_form").submit(function(){
            // check none
            $("#comment_error").text('');
            if(CKEDITOR.instances["id_text"].document.getBody().getText().trim()===''){
                $("#comment_error").text('Comment can not empty');
                return false;
            }

            // updata textarea
            CKEDITOR.instances['id_text'].updateElement();

            $.ajax({
                url: "{% url 'crescendo:add_comment' %}",
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    console.log(data);
                    if(data['status']==="SUCCESS"){
                        // insert data
                        var comment_html = '<div>' + data['username'] +
                                           ' (' + data['comment_time'] + ')：' +
                                           data['text'] + '</div>';
                        $("#comment_list").prepend(comment_html);
                        // clear textarea
                        CKEDITOR.instances['id_text'].setData('');
                    }else{
                        // show error message
                        $("#comment_error").text(data['message']);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
            return false;
        });
    </script>
{% endblock %}
