{% extends 'crescendo/base.html' %}

{% load static %}
{% block title %}
    Crescendo
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/styles/catalogue.css' %}" />
{% endblock %}

    {% block body_block %}
    <h1><strong>Songs</strong></h1>
    <div class="grid">
      {% if songs %}
        {% for song in songs %}
          <div class="block">
            <a href="{% url 'crescendo:show_song' song.nameAsSlug song.id %}">
              <img src="{{ song.image.url }}"><br>
              <strong>{{ song.name }}</strong>
            </a>
          </div>
        {% endfor %}

      {% else %}
        <li><strong>No songs found.</strong></li>
      {% endif %}
    {% endblock %}
