{% extends 'crescendo/base.html' %}
{% load static %}

{% block title %}
    {% if song %}
      Crescendo - {{ song.name }}
    {% else %}
        Song Does Not Exist
    {% endif %}
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static '/styles/song.css' %}" />
  <script src="{% static '/JS/player.js' %}"></script> 
  <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
  <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

{% endblock %}

    {% block body_block %}
      {% if song %}
          <div class="leftBar">
            <h1>{{ song.name }} - {{ song.artist }}</h1>
            <div class="songPlayer">
              <img src="{% static '/playicon.png' %}" id="topimage"  onclick="playAudio()">
              <img id="audioimage" src="{{ song.image.url }}" alt="{{ song.name }} album art."> <br>
                <audio id="audiofile" src="{{ song.actualSong.url }}"></audio> 
            </div>
            {% if user.is_authenticated %}
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add to Your Playlist
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="about-us">   
                        {% if playlists %}
                            {% for playlist in playlists %}  
                            <li class = "elements">
                                <a href = "{% url 'crescendo:add_to_playlist' song.id playlist.id %}" class = "add_to_playlist" > {{ playlist.name }}</a>  
                            </li>
                            {% endfor %} 
                        {% endif %} 
                </ul>
                </div> 
                {% endif %}
          </div>

        <div class="rightBar">
          <h2>Lyrics</h2>
          <p>
            {{ song.lyrics }}
          </p>
        </div>
          <div class="row">
             <div class="col-xs-10 col-xs-offset-1">
                <div class="comment-area">
                    <h4 class="comment-area-title">Comment Here</h4>
                    {% if user.is_authenticated %}
                        <form id="comment_form" action="{% url 'crescendo:add_comment' %}" method="POST" style="overflow:hidden">
                            <label>{{ user.username }}, comment here!</label>
                            <div id="reply_content_container" style="display:none">
                                <p>Reply: </p>
                                <div id="reply_content"></div>
                            </div>
                            {% csrf_token %}
                            {% for field in comment_form %}
                                {{ field }}
                            {% endfor %}
                            <span id="comment_error" class="text-danger text left"></span>
                            <input type="submit" value="comment" class="btn btn-primary col-xs-6 col-sm-4 pull-right">
                        </form>
                    {% else %}
                       You are not logged in, please log in!<br/>
                        <a href="{% url 'auth_login' %}">Login here</a>
                    {% endif %}
                </div>

                <div class="comment-area">
                    <h4 class="comment-area-title">Comment({{ amount_of_comments }})</h4>
                    <div id="comment_list">
                        {% for comment in comments %}
                            <div id ='root_{{ comment.id }}' class="comment">
                                <span>{{ comment.user.username }}</span>
                                <span>({{ comment.comment_time|date:"Y-m-d H:i:s" }})：</span>
                                <div id = 'comment_{{ comment.id}}'>
                                     {{ comment.text|safe }}
                                </div>
                                <a href="javascript:reply({{ comment.id }});">Reply</a>
                            </div>
                                {% for reply in comment.root_comment.all %}
                                    <div class="reply">
                                        <span>{{ reply.user.username }}</span>
                                        <span>({{  reply.comment_time|date:"Y-m-d H:i:s" }})</span>
                                        <span>reply</span>
                                        <span>{{ reply.reply_to.username }}: </span>
                                         <div id ='comment_{{ reply.id}}'>
                                            {{ reply.text|safe }}
                                         </div>
                                        <a href="javascript:reply({{ reply.id }});">Reply</a>
                                    {% endfor %}
                                    </div>
                                {% empty %}
                                    <span id="no_comment">There are no comments now!</span>
                            </div>
                                {% endfor %}
                    </div>
                </div>
             </div>
          </div>
      {% else %}
        This song does not exist.
      {% endif %}
      <!-- Listen don't worry about how unbelievable scuffed this implementation is, it works. --!>
      <textarea id="var1" style="visibility:hidden; height:0; width:0;" >{% static '/pauseicon.png' %}</textarea>
      <textarea id="var2" style="visibility:hidden; height:0; width:0;" >{% static '/playicon.png' %}</textarea>
    {% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        var myUrl = "{% url 'crescendo:add_comment' %}"
    </script>
    <script src="{% static "/JS/comment.js" %}"></script>
{% endblock %}
