{% extends 'crescendo/base.html' %}
{% load static %}
{% load comment_tags %}

{% block title %}
    Crescendo -
    {{ user.username }}
{% endblock %}
{% block css%}
<link rel="stylesheet" type="text/css" href="{% static '/styles/sidescroller.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static '/styles/user_profile.css' %}" />
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block body_block %}
<div class="main">
    <div class="grid">
        <div class="user-info grid-item">
            <h1>{{ user.username }}'s profile:</h1>
            <ul>
                <li>Profile Views : {{ userprofile.numberOfProfileViews }}</li>
                <li>Number Of Comments : {{ userprofile.numberOfComments }}</li>
            </ul>
        </div>
        <div class="user-image grid-item">
            <img src="{{ userprofile.image.url }}" alt="profile-image">
        </div>
        <div class='playlists grid-item'>
            <h2>Your Playlists</h2>
            <a href="{% url 'crescendo:add_playlist'  %}" class="add_to_playlist">Add a new playlist</a>
            <div class="menu-wrapper ">
                <ul class="menu ">
                    {% for playlist in playlists %}
                    <li class="item ">
                        <a href="{% url 'crescendo:show_playlist' playlist.nameAsSlug playlist.id %} ">
                            <img class="playlistImages " src="{{ playlist.image.url }} ">
                        </a> <br />
                        <p class="playlistName ">{{ playlist.name }}</p>
                    </li>
                    {% endfor %}
                </ul>
                <button class="on-top ">Add a new playlist</button>
                <div class="paddles ">
                    <button class="left-paddle paddle hidden "></button>

                    <button class="right-paddle paddle "></button>
                </div>

            </div>
        </div>
        <div class='songs grid-item'>
            <h2> Your Songs </h2>
            <a href="#">Upload a song</a>
            <div class="menu-wrapper ">
                <ul class="menu ">
                    {% for song in songs %}
                    <li class="item ">
                        <a href="{% url 'crescendo:show_song' song.nameAsSlug song.id %} ">
                            <img class="song-image " src="{{ song.image.url }} ">
                        </a> <br />
                        <p class="playlistName ">{{ song.name }}</p>
                    </li>
                    {% endfor %}

                </ul>
                <div class="paddles ">
                    <button class="left-paddle paddle hidden "></button>

                    <button class="right-paddle paddle "></button>
                </div>

            </div> 
        </div> 
         <div class = "row">
               <div class="comment-area">
                    <h4 class="comment-area-title">Comment Here</h4>
               </div>
                    {% if user.is_authenticated %}
                        <form id="comment_form" action="{% url 'crescendo:add_comment' %}" method="POST" style="overflow:hidden">
                            <div class = "row">
                                <label>{{ user.username }}, comment here!</label>
                            </div>
                            <div class = "row">
                            <div id="reply_content_container" style="display:none">
                                <p>Reply: </p>
                                <div id="reply_content"></div>
                            </div>
                            </div>
                            <div class = "row">
                            {% csrf_token %}
                            {% get_comment_form userprofile as comment_form %}
                                {% for field in comment_form %}
                                    {{ field }}
                                {% endfor %}
                                <span id="comment_error" class="text-danger text left"></span>
                            </div>
                            <div class = "row">
                            <input type="submit" value="Comment" class="btn btn-primary pull-right wide">
                            </div>
                        </form>
                        </div>

                    {% else %}
                       You are not logged in, please log in!<br/>
                        <a href="{% url 'auth_login' %}">Login here</a>
                    {% endif %}
                </div>

                <div class="comment-area">
                    <h4 class="comment-area-title">Comment({% get_comment_count userprofile %})</h4>
                    <div id="comment_list">
                    {% get_comment_list userprofile as comments %}
                        {% for comment in comments %}
                            <div id ='root_{{ comment.id }}' class="comment">
                                <span>{{ comment.author.username }}</span>
                                <span>({{ comment.comment_time|date:"Y-m-d H:i:s" }})：</span>
                                <div id = 'comment_{{ comment.id}}'>
                                     {{ comment.text|safe }}
                                </div>
                                <a href="javascript:reply({{ comment.id }})">Reply</a>
                            </div>
                                {% for reply in comment.root_comment.all %}
                                    <div class="reply">
                                        <span>{{ reply.author.username }}</span>
                                        <span>({{  reply.comment_time|date:"Y-m-d H:i:s" }})</span>
                                        <span>reply</span>
                                        <span>{{ reply.reply_to.username }}: </span>
                                         <div id ='comment_{{ reply.id }}'>
                                            {{ reply.text|safe }}
                                         </div>
                                        <a href="javascript:reply({{ reply.id }})">Reply</a>
                                    {% endfor %}
                                    </div>
                                {% empty %}
                                    <span id="no_comment">There are no comments now!</span>
                                {% endfor %}
                            </div>
                </div>
    </div>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        var myUrl = "{% url 'crescendo:add_comment' %}"
    </script>
    <script src="{% static "/JS/comment.js" %}"></script>
{% endblock %}